
<section class="example-section" *ngIf="correctOptions > 1">
    <ng-container *ngFor="let option of options">
        <div class="row">
            <div class="form-check">
                <input class="form-check-input" [ngModel]="selectedOption" (ngModelChange)="onSelectOption($event)"  [value]="option">
                <label class="form-check-label">{{option.label}}</label>
              </div>
        
        </div>
    </ng-container>
  </section>

  <section class="example-section" *ngIf="correctOptions == 1">

    <ng-container *ngFor="let option of options">
    <div class="form-check">
        <input class="form-check-input" type="radio" [ngModel]="selectedOption" (ngModelChange)="onSelectOption($event)"  [value]="option" >
        <label class="form-check-label" >
            {{option.label}}
        </label>
      </div>
    </ng-container>
  </section>
